<style>

/**.new_category .product-list-style-14 .product-item{
    float: left;
    width: 300px;
    padding: 10px;
    min-height: 500px;
}

.new_category .product-image-photo{
     border: 1px solid black;
}
**/
.set_height{
    height:50px;
}
.new_category .owl-carousel .owl-item img{
    
        border: 1px solid black;
}
.new_category li{
    width:150px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.new_category li table{
width: 100%;
    text-align: center;
    font-family: Lato;
}
.new_category .new_title{
  
    padding: 15px 0px 15px 0px;
    color:black;
    font-size:12px;
    font-family: Lato;
}

.new_category li:hover{
    background: #fecfcf;
}

.new_category li img{
    width:51px;
    height:50px;
border-radius: 50%;
}

@media (max-width: 767px)
{
/**.new_category .product-list-style-14 .product-item{
    float:none !important;
    margin: 0 auto;
}**/

.set_height{
    height:10px!important;
}
}

.slider_below div{
    color:white;
   
    padding:10px;
}

.slider_below .first_text{
 font-size:14px;
 font-family: Lato;
}

.slider_below .second_text{
 font-size:18px;
 font-family: Lato;
}

.slider_below .third_text{
 font-size:12px;
 font-family: Lato;
}

.product-item-brand{
    display:none;
}

</style>

    <table align="center" width="100%">
    <tr>
    <td class="set_height">
    </td>
    </tr>
    </table>
<?php $category = Mage::getModel('catalog/category')->load(67); ?> 
<a target="_blank" href="<?php echo $category->getUrl(); ?>">
<div class="slider_below" style="padding:10px;width:100%;text-align:center;background: #fecfcf;">
<table align="center" width="100%">
    <tr>
        <td align="center">
            <div class="first_text">Sale Upto 40%</div>
            </td>
    </tr>
     <tr>
        <td align="center">
            <div class="second_text">TODAY'S SPECIAL SALE</div>
            </td>
    </tr>
    <tr>
        <td align="center">
            <div class="third_text">Limited time offer</div>
            </td>
    </tr>
</table>
</div>
</a>

    <table align="center" width="100%">
    <tr>
    <td class="set_height">
    </td>
    </tr>
    </table>
<div class="container space-lg new_category">
<div class="cdz-tabs-wrap tabs-style-03">
        <div class="cdz-block-title">
        <p class="b-title h2"><span>OUR OFFERINGS</span></p>
                <!--<p class="title-desc"><span>"A wide range of Gemstones Available"</span></p>-->
            </div>
        <div class="cdz-block-content" data-role="js-tab-dc-container">
        <ul class="box-cate-link abs-dropdown">
            
        <li id="GEMSTONES_id" class="item active"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
            
            
            <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/GEMSTONES.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">GEMSTONES</div>
                        </td>
                    </tr>
                    
                    <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(13); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
            </table>
            </span></a></li>
        
        <li id="JEWELLERY_id" class="item"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
        
          <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/GEMSTONES.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">JEWELLERY</div>
                        </td>
                    </tr>
                     <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(18); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
        
        
        </span></a></li>
        
        <li id="NECK_PIECES_id" class="item "><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
        
        
          <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/NECK_PIECES.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">NECK PIECES</div>
                        </td>
                    </tr>
                    
                       <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(55); ?>          
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
        
        </span></a></li>
        
        
        <li id="BRACELETS_id" class="item"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
        
        
          <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/BRACELETS.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">BRACELETS</div>
                        </td>
                    </tr>
                       <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(56); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
        
        </span></a></li>
        
        
        <li id="PENDENTS_id" class="item"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
        
        
          <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/GEMSTONES.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">PENDENTS</div>
                        </td>
                    </tr>
                       <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(57); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
        
        </span></a></li>
        
        
        <li id="ANTIQUES_id"  class="item"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
        
        
          <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/NECK_PIECES.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                        <div class="new_title">ANTIQUES</div>
                        </td>
                    </tr>
                       <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(58); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
        
        </span></a></li>
        
        
        <li id="OUT_OF_BOX_id"  class="item"><a class="tab-title" href="javascript:void(0)"><span class="tab-text">
            
            
              <table>
                <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                <tr>
                    <td align="center">
<?php echo "<img src='".Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA)."/codazon/flexibletheme/images/BRACELETS.png'/>"; ?>
                        </td>
                    </tr>
                    
                      <tr>
                   <td height="20" align="center">
                        
                        </td>
                    </tr>
                    
                     <tr>
                   <td align="center">
                         <div class="new_title">OUT OF BOX</div>
                        </td>
                    </tr>
                       <tr>
                   <td align="center">
<?php $category = Mage::getModel('catalog/category')->load(59); ?>
<a target="_blank" href="<?php echo $category->getUrl(); ?>"><div style="display:none;" class="new_sub_title">VIEW ALL IN STORE</div></a>
                        </td>
                    </tr>
                    
            </table>
            
           </span></a></li>
        
        </ul>
        
        
<div class="cdz-tabs df-tabs" data-role="tabs-dynamic-control">

<div id="gemstones" class="tab-item active">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('gemstones')->toHtml();
?></div>
</div>
</div>
</div>
</div>





<div id="jewellery" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('jewellery')->toHtml();
?></div>
</div>
</div>
</div>
</div>




<div id="neck_pieces" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('neck_pieces')->toHtml();
?></div>
</div>
</div>
</div>
</div>





<div id="bracelets" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('bracelets')->toHtml();
?></div>
</div>
</div>
</div>
</div>




<div id="pendents" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('pendents')->toHtml();
?></div>
</div>
</div>
</div>
</div>




<div id="antiques" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('antiques')->toHtml();
?></div>
</div>
</div>
</div>
</div>




<div id="out_of_box" class="tab-item">
<div class="tab-content">
<div class="cdz-product-wrap product-list-style-14">
<div class="cdz-block-content">
<div class="cdz-product"><?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('out_of_box')->toHtml();
?></div>
</div>
</div>
</div>
</div>




                </div>
    </div>
</div>

</div>

<script>
jQuery(document).ready(function () {
  
  
  
  jQuery("#GEMSTONES_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#gemstones").addClass('active');
    jQuery("div.gemstones_all").show();
    jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#GEMSTONES_id .new_sub_title').addClass('display_category');
   
});
  
jQuery( "#GEMSTONES_id" ).trigger( "click" );

jQuery("#JEWELLERY_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#jewellery").addClass('active');
    jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#JEWELLERY_id .new_sub_title').addClass('display_category');
   
});
    
    
    
   jQuery("#NECK_PIECES_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#neck_pieces").addClass('active');
    jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#NECK_PIECES_id .new_sub_title').addClass('display_category');
   
});


jQuery("#BRACELETS_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#bracelets").addClass('active');
    jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#BRACELETS_id .new_sub_title').addClass('display_category');
});


jQuery("#PENDENTS_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#pendents").addClass('active');
     jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#PENDENTS_id .new_sub_title').addClass('display_category');
   
});


jQuery("#ANTIQUES_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#antiques").addClass('active');
     jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#ANTIQUES_id .new_sub_title').addClass('display_category');
   
});

jQuery("#OUT_OF_BOX_id").on('click', function () {
    jQuery('.new_category li').removeClass('active');
    jQuery(this).addClass('active');
    jQuery('.new_category .tab-item').removeClass('active');
    jQuery("div#out_of_box").addClass('active');
    jQuery('.new_category .new_sub_title').removeClass('display_category');
    jQuery('li#OUT_OF_BOX_id .new_sub_title').addClass('display_category');
});
    
    
  });  </script>
  
       <style>
       
 .image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .8s ease;
  backface-visibility: hidden;
}

.new_container:hover .image {
  opacity: 0.3;
transform: scale(1.1);
}


.new_category .tabs-style-03 .box-cate-link .item a {
    padding: 0px 0px !important;
}
.new_sub_title{
    padding: 0px;
    font-size: 11px;
    background-color: #ffa4a4;
    width: 100%;
    margin: 0;
    color:white;
}
.display_category{
    display:block !important;
}
</style>  
<?php
echo $this->getLayout()->createBlock('cms/block')->setBlockId('people_of_freyaha')->toHtml();
?> 