<?php
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$_productCollection = $this->getProductCollection();
?>

<?php if($_count = $_productCollection->count()): ?>

<?php
$_helper = $this->helper('catalog/output');
$labelHelper = $this->getLabelHelper();
$imageHelper = $this->helper('catalog/image');
$quickShopHelper = $this->helper('quickviewpro');
$wishlistHelper = $this->helper('wishlist');
$showSlider = $this->getData('show_slider');

$width = $this->getData('thumb_width');
$height = $this->getData('thumb_height');
$paddingBottom = $height*100/$width;

$showDescription = $this->isShow('description');
$showSku = $this->isShow('sku');
$showWishlist = $this->isShow('wishlist') && $wishlistHelper->isAllow();
$showCompare = $this->isShow('compare');
$showCart = $this->isShow('addtocart');
$showQuickShop = $this->isShow('quickshop');
$showLabel = $this->isShow('label');
$showThumb = $this->isShow('thumb');
$showName = $this->isShow('name');
$showReview = $this->isShow('review');
$showPrice = $this->isShow('price');

$adapts = array('1900', '1600', '1420', '1280','980','768','480','320','0');
foreach ($adapts as $adapt) {
    $itemPerRow[$adapt] = (float)$this->getData('items_' . $adapt);
}
$totalRows = (int)$this->getData('total_rows');
$totalCols = (int)$this->getData('total_cols');
$uniqid = uniqid();
$isFirstPage = (bool)!$this->getData('is_next_page');
$widget = array(
    'codazon.autowidth' => array(
        'itemsPerRow' => $itemPerRow,
        'margin'      => $this->getData('slider_margin')
    ),
    'codazon.infiniteLoad' => array(
        'jsonData'  => $this->getFilterData(),
        'ajaxUrl'   => $this->getUrl('productfilterpro/ajax/infiniteload')
    )
);

?>
<?php if ($isFirstPage): ?>
<div class="grid-style-15 products" data-cdzwidget='<?= json_encode($widget) ?>'>
    <div class="products list items product-items flex-grid">
<?php endif ?>
    <?php foreach ($_productCollection as $_product): ?>
    <?php
        $name = $this->stripTags($_product->getName(), null, true);
        $url = $_product->getProductUrl();
    ?>
        <div class="item product product-item col-md-4 cdz-transparent" data-role="item">
            <div class="product-item-info">
                <div class="product-item-top">
                    <a href="<?= $url ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image abs-img" style="padding-bottom: <?php echo $paddingBottom ?>%">
                        <img class="product-image-photo main-img" src="<?= $imageHelper->init($_product, 'small_image')->resize($width, $height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                        <img class="product-image-photo hovered-img" src="<?= $imageHelper->init($_product, 'thumbnail')->resize($width, $height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" />
                    </a>
                    <?= $showLabel?$labelHelper->showLabel($_product):''; ?>
                    <div class="button-hover-wrap">
                    	<?php if ($showCart) : ?>
                        <?php if ($_product->isSaleable()) : ?>
                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
						<?php else : ?>
                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Out of stock')) ?>" class="button btn-cart out-of-stock disabled unavailable"disabled><span><span><?php echo $this->__('Out of stock') ?></span></span></button>
						<?php endif ?>
                        <?php endif ?>
                        <?= $showQuickShop?$quickShopHelper->getQuickShopButton($_product):''; ?>
                        <?php if ($showWishlist) : ?>
                        <a href="<?php echo $wishlistHelper->getAddUrl($_product) ?>" class="towishlist link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                        <?php endif; ?>
                        <?php if(($_compareUrl=$this->getAddToCompareUrl($_product)) && $showCompare): ?>
                        <a href="<?php echo $_compareUrl ?>" class="tocompare link-compare"><?php echo $this->__('Add to Compare') ?></a>
                        <?php endif; ?>
                    </div>
                </div>
                <div class="product details product-item-details product-info">
                    <div class="detail-items-wrap">
                        <?php if ($showName): ?>
                        <strong class="product-name">
                            <a class="product-item-link" href="<?= $_product->getProductUrl(); ?>">
                                <?= $name; ?>
                            </a>
                        </strong>
                        <?php endif ?>
                        <?php if ($showSku) : ?>
                        <div class="product-item-sku"><span class="label"><?= __('SKU: ') ?></span><span class="value"><?= $_product->getData('sku') ?></span></div>
                        <?php endif ?>
                        <?= $showPrice ? $this->getPriceHtml($_product, true, $uniqid) : '' ?>
						 <?= $showReview ? $this->getReviewsSummaryHtml($_product, 'short') : ''; ?>
                        <?php if ($showDescription):?>
                        <div class="product description product-item-description">
                            <?= $this->subString($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'), 70) ?>
                        </div>
                        <?php endif; ?>
                    </div>
                    <div class="button-hover-wrap visible-xs">
                        <div class="product-item-inner">
                        <div class="product actions product-item-actions">
                            <?php if ($_product->isSaleable()) : ?>
                                <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                            <?php else : ?>
                                <button type="button" title="<?php echo $this->quoteEscape($this->__('Out of stock')) ?>" class="button btn-cart out-of-stock disabled unavailable"disabled><span><span><?php echo $this->__('Out of stock') ?></span></span></button>
                            <?php endif ?>
                            <?= $showQuickShop?$quickShopHelper->getQuickShopButton($_product):''; ?>
                            <?php if ($wishlistHelper->isAllow() && $showWishlist) : ?>
                            <a href="<?php echo $this->helper('wishlist')->getAddUrl($_product) ?>" class="towishlist link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                            <?php endif; ?>
                            <?php if(($_compareUrl=$this->getAddToCompareUrl($_product)) && $showCompare): ?>
                            <a href="<?php echo $_compareUrl ?>" class="tocompare link-compare"><?php echo $this->__('Add to Compare') ?></a>
                            <?php endif; ?>
                        </div>
                        </div>
                    </div>                    
                </div>
            </div>
        </div>
    <?php endforeach ?>

    <?php if ($isFirstPage): ?>
    </div>
    <div class="actions">
        <div class="container ajax-loader" data-role="ajax_loader" style="display:none">
            <div class="mdl-progress mdl-js-progress mdl-progress__indeterminate"></div>
            <div class="bottom-block">
                <span><?= __('Loading...') ?></span>
            </div>
        </div>
        <div class="text-center">
            <button data-role="ajax_trigger" class="cdz-ajax-trigger mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect"><span><?= $this->__('Load more') ?></span></button>
        </div>
    </div>
</div>
<?php endif ?>

<?php else : ?>
<div class="note-msg"><div><?php echo $this->__('There are no products matching the selection.') ?></div></div>
<?php endif ?>