<?php
/**
 * Copyright © 2017 Codazon, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$_productCollection = $this->getProductCollection();
$_helper = $this->helper('catalog/output');
$labelHelper = $this->getLabelHelper();
$quickShopHelper = $this->helper('quickviewpro');
$imageHelper = $this->helper('catalog/image');
$wishlistHelper = $this->helper('wishlist');
$showSlider = $this->getData('show_slider');

$width = $this->getData('thumb_width');
$height = $this->getData('thumb_height');
$paddingBottom = $height*100/$width;

$showDescription = $this->isShow('description');
$showSku = $this->isShow('sku');
$showWishlist = $wishlistHelper->isAllow() && $this->isShow('wishlist');
$showCompare = $this->isShow('compare');
$showCart = $this->isShow('addtocart');
$showQuickShop = $this->isShow('quickshop');
$showLabel = $this->isShow('label');
$showThumb = $this->isShow('thumb');
$showName = $this->isShow('name');
$showReview = $this->isShow('review');
$showPrice = $this->isShow('price');

$totalRows = (int)$this->getData('total_rows');
$totalCols = (int)$this->getData('total_cols');
$uniqid = uniqid();
$widget = array('codazon.slider' => array('sliderConfig' => $this->getSliderData()));

?>

<?php if($_count = $_productCollection->count()): ?>
<div class="grid-style-14 products">
<div class="products list items product-items">
<?php $i = 0; foreach ($_productCollection as $_product): ?>
    <?php
    $name = $this->stripTags($_product->getName(), null, true);
    $url = $_product->getProductUrl();
    ?>
    <div class="item product product-item">
        <div class="product-item-info row">
            <div class="product-line-grid-left col-xl-5 col-lg-5 col-md-5 col-sm-6 col-xs-6">
                <a href="<?= $url ?>" title="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" class="product-image abs-img" style="padding-bottom: <?php echo $paddingBottom ?>%">
                    <img class="product-image-photo main-img" src="<?= $imageHelper->init($_product, 'small_image')->resize($width, $height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'small_image'), null, true) ?>" />
                    <img class="product-image-photo hovered-img" src="<?= $imageHelper->init($_product, 'thumbnail')->resize($width, $height); ?>" alt="<?php echo $this->stripTags($this->getImageLabel($_product, 'thumbnail'), null, true) ?>" />
                </a>
                <?= $showLabel?$labelHelper->showLabel($_product):''; ?>
                <?= $showQuickShop?$quickShopHelper->getQuickShopButton($_product):''; ?>
            </div>
            <div class="product details product-item-details product-info product-line-grid-body col-xl-19 col-lg-19 col-md-19 col-sm-18 col-xs-18">
                <div class="detail-items-wrap">
                    <div class="product-box">
                        <?php if ($showName): ?>
                        <strong class="product-name">
                            <a class="product-item-link" href="<?= $_product->getProductUrl(); ?>">
                                <?= $name; ?>
                            </a>
                        </strong>
                        <?php endif ?>
                        
                        <?php if ($showSku) : ?>
                        <div class="product-item-sku"><span class="label"><?= __('SKU: ') ?></span><span class="value"><?= $_product->getData('sku') ?></span></div>
                        <?php endif ?>
                    </div>
                    <?= $showReview ? $this->getReviewsSummaryHtml($_product, 'short') : ''; ?>
                    <?= $showPrice ? $this->getPriceHtml($_product, true, $uniqid) : '' ?>
                    <?php if ($showDescription):?>
                    <div class="product description product-item-description">
                        <?= $this->subString($_helper->productAttribute($_product, $_product->getShortDescription(), 'short_description'), 70) ?>
                    </div>
                    <?php endif; ?>

                    <div class="btn-group-linkstyle flex-grid">
                        <?php if ($showWishlist) : ?>
                        <div class="item">
                        <a href="<?php echo $wishlistHelper->getAddUrl($_product) ?>" class="towishlist link-wishlist"><?php echo $this->__('Add to Wishlist') ?></a>
                        </div>
                        <?php endif; ?>
                        <?php if (($_compareUrl=$this->getAddToCompareUrl($_product)) && $showCompare) : ?>
                        <div class="item">
                        <a href="<?php echo $_compareUrl ?>" class="tocompare link-compare"><?php echo $this->__('Add to Compare') ?></a>
                        </div>
                        <?php endif; ?>
                        <div class="item">
                        <?php if ($_product->isSaleable()) : ?>
                        <button type="button" title="<?php echo $this->quoteEscape($this->__('Add to Cart')) ?>" class="button btn-cart" onclick="setLocation('<?php echo $this->getAddToCartUrl($_product) ?>')"><span><span><?php echo $this->__('Add to Cart') ?></span></span></button>
                        <?php else : ?>
                            <button type="button" title="<?php echo $this->quoteEscape($this->__('Out of stock')) ?>" class="button btn-cart out-of-stock disabled unavailable"disabled><span><span><?php echo $this->__('Out of stock') ?></span></span></button>
                        <?php endif ?>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
<?php $i++; endforeach ?>
</div>
</div>
<?php else : ?>
<div class="note-msg"><div><?php echo $this->__('There are no products matching the selection.') ?></div></div>
<?php endif; ?>