.variable-fieldset .entry-edit-head {
  background: #fff;
  border: 1px solid #dfdfdf;
}
.variable-fieldset .entry-edit-head a {
  color: #6f8992;
}
.variable-fieldset .entry-edit-head a:hover {
  color: #6f8992;
}
.variable-fieldset .section-config.active .entry-edit-head {
  border-bottom: none;
}
.variable-fieldset div.collapseable a {
  background-image: url(../../../images/accordion_open.png);
}
.variable-fieldset div.collapseable a.open {
  background-image: url(../../../images/accordion_close.png);
}

.value .color-picker {
  margin-left: 10px;
}

.section-config .form-list td.value textarea {
  width: calc(100% - 5px);
}

a.cdz-tooltip {
  font-size: 0;
  background: url(../../../images/note_msg_icon.gif) no-repeat;
  width: 20px;
  height: 18px;
  display: inline-block;
  margin-left: 50px;
  position: relative;
  float: right;
  margin-top: 4px;
}
a.cdz-tooltip > span {
  position: absolute;
  background: #fcfab1;
  padding: 5px 5px;
  bottom: calc(100% + 8px);
  width: 120px;
  text-align: center;
  left: -60px;
  font-size: 11px;
  border-radius: 4px;
  box-shadow: 1px 2px 1px #e7e3e3;
  visibility: hidden;
  opacity: 0;
  animation: opacity 30ms ease;
  animation-delay: 300ms;
}
a.cdz-tooltip > span > span {
  overflow: hidden;
  text-overflow: ellipsis;
  display: block;
}
a.cdz-tooltip > span:after {
  content: '';
  position: absolute;
  border: 5px solid transparent;
  border-top-color: #fcfab1;
  top: 100%;
  left: 60px;
}
a.cdz-tooltip:hover > span {
  visibility: visible;
  animation: opacity 30ms ease;
  animation-delay: 300ms;
  opacity: 1;
}

.form-buttons button.export {
  background: #90db49;
  background: -moz-linear-gradient(to bottom, #b3ff6c 0%, #90db49 64%, #95be6f 100%);
  background: linear-gradient(to bottom, #b3ff6c 0%, #90db49 64%, #95be6f 100%);
  border-color: #7cc834;
}
.form-buttons button.export:hover {
  background: linear-gradient(to bottom, #ebffd4 0%, #a4df6c 64%, #95be6f 100%);
}
.form-buttons button.export > span {
  padding-left: 20px;
  background-image: url(../../../images/icon_export.png);
}
.form-buttons button.reset {
  background: #2196F3;
  background: -moz-linear-gradient(to bottom, white 0%, #e2f6f6 64%, #cfd5d5 100%);
  background: linear-gradient(to bottom, white 0%, #e2f6f6 64%, #cfd5d5 100%);
  border-color: #83b5dd;
  color: #0e262b;
}
.form-buttons button.reset:hover {
  background: -moz-linear-gradient(to bottom, #ebf6f6 0%, #dcf1f1 64%, #cddddd 100%);
  background: linear-gradient(to bottom, #ebf6f6 0%, #dcf1f1 64%, #cddddd 100%);
}
.form-buttons button.reset > span:before {
  font-family: FontAwesome;
  content: '\F0E2';
  padding-right: 7px;
  color: #ef652a;
}

.content-header .head-adminhtml-content {
  background-image: url(../../../images/fam_layout.gif);
}

.main-content-builder {
  margin-top: 30px;
  margin-left: -10px;
  margin-right: -10px;
}
.main-content-builder img {
  max-width: 100%;
}
.main-content-builder a {
  text-decoration: none;
}
.main-content-builder a:focus, .main-content-builder a:hover, .main-content-builder a:active, .main-content-builder a:visited {
  text-decoration: none;
}
.main-content-builder button {
  background: none;
  border: 1px solid #adadad;
}
.main-content-builder .col-left, .main-content-builder .col-right {
  padding-left: 10px;
  padding-right: 10px;
}
.main-content-builder .col-left {
  z-index: 3;
}

.col-right > .block-title, .col-left > .block-title {
  font-size: 20px;
  text-transform: uppercase;
  padding: 5px 0px;
  border-bottom: 1px solid #373330;
  margin-bottom: 20px;
  color: #373330;
}

.col-left {
  display: block;
  float: left;
}

@media (max-width: 767px) {
  .col-left, .col-right {
    width: 100%;
    float: left;
  }
}
.element-type-area {
  display: block;
  float: left;
  width: 100%;
  z-index: 800;
}

.main-content-builder > .row {
  display: flex;
  display: -webkit-flex;
  align-items: stretch;
  -webkit-align-items: stretch;
  flex-wrap: nowrap;
  -webkit-flex-wrap: nowrap;
}

.custom-bootstrap .el-item {
  padding-left: 0px;
  padding-right: 0px;
}

.el-item {
  z-index: auto;
  position: relative;
  display: block;
  float: left;
  margin-bottom: 10px;
  border: 1px solid #e3e3e3;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
}
.element-type-area .el-item {
  width: 100%;
}
.el-item .item-copy, .el-item .item-delete, .el-item .item-prev, .el-item .item-next {
  display: none;
}
.el-item .el-item-header, .el-item .el-item-children, .el-item .el-item-settings {
  display: block;
  float: left;
  width: 100%;
}
.el-item .el-subtitle {
  color: #eb5202;
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  text-overflow: ellipsis;
}
.el-item .el-item-header {
  color: #373330;
  background-color: #f8f8f8;
}
.el-item .el-item-header .el-item-handle {
  padding: 5px 5px;
  cursor: move;
}
.el-item .el-item-header .header-actions {
  position: absolute;
  top: 5px;
  right: 0px;
  padding: 0px 10px;
}
.el-item .el-item-header .header-actions a {
  color: inherit;
  margin-right: 5px;
}
.el-item .el-item-header .header-actions a i {
  font-size: 14px;
  font-family: FontAwesome;
}
.el-item .el-item-header .header-actions a.item-edit i:before {
  content: '\f040';
}
.el-item .el-item-header .header-actions a.item-copy i:before {
  font-style: normal;
  content: '\f0c5';
}
.el-item .el-item-content {
  display: block;
}
.el-item .el-item-content .el-item-fields {
  padding: 5px 5px;
}
.el-item .el-item-content .el-item-fields .el-item-field {
  margin-bottom: 7px;
}
.el-item .el-item-content .el-item-fields .el-item-field .field-label {
  font-size: 10px;
}
.el-item .el-item-content .el-item-fields .el-item-field [data-type=text] {
  width: 100%;
}
.el-item .el-item-content .el-item-fields .el-item-field .item-input {
  max-width: 100%;
}
.el-item .el-item-content .el-item-fields .el-item-field textarea {
  width: 100%;
  min-height: 200px;
}
.el-item .el-item-settings {
  float: left;
  width: 100%;
  height: auto;
  display: none;
  z-index: 3;
  background-color: #FFF;
}
.el-item .el-item-settings .el-desc {
  font-size: 11px;
  font-style: italic;
  margin-top: 5px;
  color: #524d49;
  font-family: cursive;
}
.el-item .el-item-actions {
  background-color: #f8f8f8;
  display: inline-block;
  width: 100%;
  height: auto;
  line-height: 2;
  padding: 5px 14px;
}
.el-item .el-item-actions .el-btn {
  border: 1px solid #adadad;
  padding: 2px 10px;
  background-color: #fff;
  color: #524d49;
  margin-right: 5px;
  font-size: 13px;
}
.el-item .el-item-children {
  display: block;
  background: repeating-linear-gradient(-45deg, white, #e9ebee 2px);
}
.el-item .editor-container {
  margin-top: 10px;
}
.el-item .editor-container .editor-toolbar {
  margin-bottom: 5px;
  width: 100%;
  position: relative;
}
.el-item .editor-container .editor-toolbar .el-btn {
  background-color: #fff;
  padding: 2px 5px;
  font-size: 13px;
}
.el-item .editor-container .editor-toolbar .el-btn.el-wysiwyg {
  background: #eb5202;
  color: #fff;
  border-color: #eb5202;
  padding-left: 10px;
  padding-right: 10px;
}
.el-item .image-container .el-browser-wrap {
  width: 100%;
}
.el-item .image-container .el-input {
  float: left;
  width: 150px;
  max-width: calc(100% - 30px);
  margin-right: 6px;
}
.el-item .image-container .el-image {
  padding: 3px 5px;
  background-color: #eb5202;
  border-color: #eb5202;
  color: #FFF;
  font-size: 12px;
  float: left;
  height: 22px;
  line-height: 0;
}
.el-item .image-container .el-image-preview-wrap {
  display: block;
  width: 100%;
  margin-top: 5px;
  float: left;
}
.el-item .image-container .el-image-preview {
  max-width: 100px;
  height: auto;
}
.el-item:not(.type-col) {
  width: 100%;
}
.el-item .el-item-content .el-item-fields .el-item-field .multitext-container .editor-container textarea {
  min-height: 250px;
}
.el-item .el-item-content .multitext-container .multitext-items {
  margin: 10px 0px;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item {
  float: left;
  margin-bottom: 5px;
  margin-right: 10px;
  position: relative;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-icon {
  height: 35px;
  width: 35px;
  display: inline-block;
  border: 1px solid #a9a9a9;
  text-align: center;
  color: #373330;
  vertical-align: middle;
  padding: 7px 0px;
  cursor: move;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-icon:active, .el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-icon:hover {
  border-color: #eb5202;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .mt-open-item {
  position: absolute;
  top: -17px;
  right: -14px;
  padding: 5px 5px;
  cursor: pointer;
  color: #524d49;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  display: flex;
  align-items: center;
  z-index: 11;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content .item-background {
  background: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content .item-content-outer {
  position: relative;
  width: 100%;
  text-align: center;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content .item-content-outer .item-content-inner {
  position: relative;
  width: 700px;
  display: inline-block;
  background: #fff;
  box-shadow: 2px 4px 10px #333;
  padding: 20px 20px 10px 20px;
  border-radius: 5px;
  max-width: 80%;
  text-align: left;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content .item-content-outer .item-content-inner .editor-settings .m-field {
  margin-bottom: 10px;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .item-content .item-content-outer .item-content-inner .editor-settings .m-field input[type=text]:not([data-type=image]) {
  width: calc(100% - 70px);
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .multitext-item-toolbar {
  position: absolute;
  top: 10px;
  right: 10px;
}
.el-item .el-item-content .multitext-container .multitext-items .multitext-item .multitext-item-toolbar .el-btn {
  float: left;
  margin-left: 5px;
  padding: 2px 5px;
  border: none;
  background: transparent;
  font-size: 16px;
}
.el-item .el-item-content .multitext-container .multitext-toolbar {
  width: 100%;
  display: inline-block;
  text-align: center;
  background-color: #f8f8f8;
  padding: 5px 0px;
}
.el-item .el-item-content .multitext-container .multitext-toolbar .el-btn {
  padding: 2px 15px;
  background-color: #ffffff;
  font-size: 13px;
}

@keyframes translateDown {
  from {
    opacity: 0;
    -webkit-transform: translateY(-40px);
    -moz-transform: translateY(-40px);
    -ms-transform: translateY(-40px);
    -o-transform: translateY(-40px);
    transform: translateY(-40px);
  }

  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
    transform: translateY(0px);
  }
}
.page-main-area {
  min-height: 200px;
  width: 100%;
  background-color: #e9ebee;
  display: block;
  float: left;
  padding: 0px 0px 50px 0px;
}
.page-main-area .ui-state-highlight {
  background: rgba(255, 235, 59, 0.27);
  position: relative;
}
.page-main-area .ui-state-highlight:before {
  background: url(../images/arrow-down.png);
  background-size: 20px;
  background-position: center;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 0;
  content: '';
  width: 100%;
  height: 100%;
  animation-name: translateDown;
  animation-duration: 600ms;
  animation-delay: 100ms;
  animation-iteration-count: infinite;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .item-edit, .page-main-area .el-item:not(.el-item-edit-inactive) .item-copy, .page-main-area .el-item:not(.el-item-edit-inactive) .item-delete, .page-main-area .el-item:not(.el-item-edit-inactive) .item-next, .page-main-area .el-item:not(.el-item-edit-inactive) .item-prev {
  display: inline;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .item-prev, .page-main-area .el-item:not(.el-item-edit-inactive) .item-next {
  padding: 1px;
  color: #eb5202;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .item-prev i, .page-main-area .el-item:not(.el-item-edit-inactive) .item-next i {
  font-style: normal;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .item-prev i:before {
  content: '\f0d9';
}
.page-main-area .el-item:not(.el-item-edit-inactive) .item-next i:before {
  content: '\f0da';
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-header {
  background-color: #FFFFFF;
  color: #524d49;
  border-bottom: 1px solid #ddd2d2;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-header .el-item-handle {
  position: static;
  width: 300px;
  border-right: 1px dashed #79a22e;
  max-width: calc(100% - 80px);
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-header .el-item-title {
  text-transform: uppercase;
  font-size: 14px;
  color: #6b6f74;
  vertical-align: top;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-header .el-subtitle {
  font-weight: 600;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-container, .page-main-area .el-item:not(.el-item-edit-inactive).type-row, .page-main-area .el-item:not(.el-item-edit-inactive).type-html {
  width: 100%;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-container {
  background-color: #e9dcd5;
  margin-bottom: 30px;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-container > .el-item-header {
  background-color: #524d49;
  color: #ffffff;
  border-color: #524d49;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-container > .el-item-header .el-item-title {
  color: inherit;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-container > .el-item-header .item-edit {
  color: inherit;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-row {
  background-color: #eff5f6;
  border-color: #adadad;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-row > .el-item-header {
  border-bottom-color: transparent;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-col {
  background-color: #faefcd;
  border-color: #ddd2d2;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-col > .el-item-header .el-subtitle {
  color: #79a22e;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-html {
  background-color: white;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-children.ui-droppable-hover {
  background: rgba(255, 235, 59, 0.54);
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-children {
  padding: 10px 7px 0px 7px;
  min-height: 50px;
  background: rgba(0, 0, 0, 0.05);
  position: relative;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-settings {
  position: absolute;
  width: 500px;
  background: #fff;
  top: 30px;
  right: 10px;
  box-shadow: 2px 4px 10px #333;
  border-radius: 7px 7px 0px 0px;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .el-item-content {
  padding: 10px 10px;
  max-height: 400px;
  overflow: auto;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .add-to-page {
  display: none;
}
.page-main-area .el-item:not(.el-item-edit-inactive).ui-sortable-helper > .el-item-children {
  padding-bottom: 0px;
  display: none;
}
.page-main-area .el-item:not(.el-item-edit-inactive) .short-desc {
  font-size: 12px;
  color: #524d49;
  padding: 5px 5px;
  max-height: 100px;
  overflow: hidden;
  position: relative;
  background: #ffffff;
  /* &:before{
      font-size: 17px;
      font-family: FontAwesome;
      content: '\f10d';
      margin-right: 10px;
  } */
}
.page-main-area .el-item:not(.el-item-edit-inactive) .short-desc:after {
  position: absolute;
  width: 100%;
  height: 5px;
  bottom: 0;
  left: 0;
  content: ' ';
  display: block;
  background: #ffffff;
}

body.cdz-popup {
  overflow: hidden;
}
body.cdz-popup .page-main-actions .page-actions._fixed {
  z-index: 1;
}

.main-content-builder .element-type-area .admin__field-control {
  margin-bottom: 15px;
}
.main-content-builder .element-type-area .admin__field-control label {
  color: #373330;
}
.main-content-builder .element-type-area .el-item-header .el-subtitle {
  display: none;
}
.main-content-builder .col-right._disabled:after {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  cursor: not-allowed;
}

.page-main-area .el-item:not(.el-item-edit-inactive).type-slideshow .short-desc {
  background: white url(../images/slideshow.png) no-repeat center;
  min-height: 50px;
  background-size: 44px;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-tabs .short-desc {
  background: white url(../images/tabs.png) no-repeat center;
  min-height: 50px;
  background-size: 44px;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-images_slider .short-desc {
  background: white url(../images/image-slider.png) no-repeat center;
  min-height: 50px;
  background-size: 44px;
}
.page-main-area .el-item:not(.el-item-edit-inactive).type-html_slider .short-desc {
  background: white url(../images/html-slider.png) no-repeat center;
  min-height: 50px;
  background-size: 44px;
}

#modal_dialog_message.magento_message {
  max-height: 82vh;
  overflow-y: auto;
}

div#widget_window {
  overflow: hidden !important;
}

.page-main-area .ui-resizable-handle.ui-resizable-e:after {
  font-family: FontAwesome;
  content: '\f0de';
  position: absolute;
  color: #eb5202;
  font-size: 19px;
  bottom: -1px;
  right: 8px;
  transform: rotateZ(135deg);
}
