<?php
/**
 * Copyright © 2013-2017 Magento, Inc. All rights reserved.
 * See COPYING.txt for license details.
 */
?>
<?php
$helper = $this->helper('flexibletheme');
$verticalMenu = $helper->getConfig('flexibletheme/header/vertical_menu');
?>

<?php if ($verticalMenu) : ?>
<div class="main-content-top-left" data-role="menu-container">
    <div class="menu-title" data-role="menu-title"><?= __('All Categories') ?></div>
    <div class="menu-container hidden-xs" data-role="menu-content">
        <?php echo $this->getLayout()->createBlock('megamenupro/widget_megamenu')->setMenu($verticalMenu)->setType(1)->toHtml(); ?>
    </div>
</div>
<?php endif ?>