<div class="row preview-wrap">
	<div class="col-sm-24">
    	<button class="preview-btn" id="preview-btn"><i class="fa fa-eye"></i> <?php echo __('Preview Your Megamenu') ?></button>
    </div>
</div>
<div class="row menu-content">
	<div id="menu-spinner" data-role="spinner" class="admin__data-grid-loading-mask">
        <div class="spinner">
            <span></span><span></span><span></span><span></span><span></span><span></span><span></span><span></span>
        </div>
    </div>

    <div class="col-sm-6 col-left">
        <div class="menu-item-types">
            <div class="type-items" id="type-items"></div>
        </div>
        <div class="menu-bottom">
        	<div class="menu-tutorial-outer">
            	<a class="menu-tutorial-inner" href="https://www.youtube.com/playlist?list=PLrxgEjb8WXWm2hc4yklYvS_tNR33MLz_g" target="_blank" title="<?php echo __('Click to view tutorial video') ?>">
                	<span class="tutorial-icon fa"></span>
                </a>
                <p class="tutorial-text"><?php echo __('CDZ Megamenu Tutorial Video') ?></p>
            </div>
        </div>
    </div>
    <div class="col-sm-18 col-main">
        <div class="menu-item-wrapper">
            <h2 class="title"><?php echo __('Megamenu Structure') ?></h2>
            <div class="menu-actions">
            	<button class="expand-btn" id="expand-btn"><i class="fa fa-expand"></i> <?php echo __('Expand All') ?></button>
        		<button class="collapse-btn" id="collapse-btn"><i class="fa fa-compress"></i> <?php echo __('Collapse All') ?></button>
			</div>
            <div class="menu" id="menu-to-edit">
            	
            </div>
        </div>
    </div>
</div>
<script id='menu-item-type-tmpl' type='text/x-jquery-tmpl'>
	<div class="menu-item menu-item-depth-0 menu-item-edit-inactive type-${name}" data-itemtype="${name}">
		<div class="menu-item-bar">
			<div class="menu-item-handle">
				<span class="drag-icon"></span>
				<span class="item-title"><span class="menu-item-title">${title}</span></span>
				<span class="preview-icon">{%tmpl placeholder %}</span>
				<span class="link-title"></span>
			</div>
		</div>
		{%if !name.equalsTo('heading') %}
		<div class="menu-item-heading-control">
			<a class="item-edit menu-btn" href="javascript:void(0)"><i></i></a>
			<a class="item-ungroup menu-btn" href="javascript:void(0)"><i></i></a>
		</div>
		{%/if%}
		<div class="menu-item-settings">
			<div class="menu-item-fields"></div>
			<div class="menu-item-actions">
				<a href="javascript:void(0)" class="item-delete menu-btn"><?php echo $this->__('Remove Menu Item') ?></a>
				<a href="javascript:void(0)" class="add-to-menu menu-btn"><?php echo $this->__('Add to menu') ?></a>
			</div>
		</div>
		<div class="menu-item-transport"></div>
	</div>
</script>

<script id='menu-item-content-tmpl' type='text/x-jquery-tmpl'>
	<div {%if style %}style="${style}"{%/if%} class="menu-item-field row type__${type} {%if !type.equalsTo('heading') %}field__${name}{%/if%}">
		{%if type.equalsTo('layout') %}
		<div class="content-layout-wrap">
			<input type="hidden" data-name="${name}" data-type="${type}" class="menu-field field-${name}" value="1"/>
			<button class="content-btn content-layout" onclick="cdzmenu.toggleLayoutPanel(this)"><?php echo $this->__('Change Layout') ?></button>
			<span class="preview-layout layout-1"><span class="layout-col-1 layout-col"></span></span>
			<div class="content-layout-chooser">
				{%each(i,cols) layouts%}
					<a href="javascript:void(0)" class="layout-row layout-{%= cols.join('-') %}" onclick="cdzmenu.changeContentLayout(this,[{%= cols %}])">
					{%each(ii,colNum) cols%}
						<span class="layout-col layout-col-${colNum}"></span>
					{%/each%}
					</a>
				{%/each%}
				</a>				
			</div>
		</div>		
		{%elif type.equalsTo('editor') %}
			<div class="content-row">
				{%tmpl getTmplById('menu-item-content-type-editor-tmpl',{type:'editor',name: name,loop:columns,value:value }) %}
			</div>
			<!--button class="content-btn content-col-add" onclick="return cdzmenu.addNewColumn(this)">Add New Column</button-->
		{%elif type.equalsTo('heading')%}
			<div class="heading">
				<span>{%html title %}</span>
				{%if description %}
					<div class="menu-label-desc">{%tmpl description %}</div>
				{%/if%}
			</div>
		{%else%}
			<div class="col-xs-8 label">
				<span>{%html title %}</span>
			</div>
			<div class="col-xs-16">
			{%if type.equalsTo('text')%}
				<input data-type="${type}" data-name="${name}" {%if name.equalsTo('label')%}onkeyup="cdzmenu.attachLabel(this);"{%/if%} type="${type}" class="menu-field field-${name}" value="${value}" {%if placeholder %}placeholder="${placeholder}"{%/if%} />
				{%if description%}<p class="content-note">${description}</p>{%/if%}
			{%elif type.equalsTo('dropdown')%}
				<select data-type="${type}" data-name="${name}" class="menu-field field-${name}" {%if action %}onchange="${action}"{%/if%}>
					{%each(i, val) values %}
					<option value="${val.value}" {%if selected_value%}{%if val.value.equalsTo(selected_value)%}selected{%/if%}{%/if%}>${val.label}</option>
					{%/each%}
				</select>
				{%if description %}
					<div class="field-desc">{%tmpl description %}</div>
				{%/if%}
			{%elif type.equalsTo('textarea') %}
				<textarea data-type="${type}" data-name="${name}" class="menu-field field-${name}">${value}</textarea>
				{%if description%}<p class="content-note">${description}</p>{%/if%}
			{%elif type.equalsTo('image') %}
				<input type="text" data-type="${type}" data-name="${name}" type="${type}" class="menu-field image-field field-${name}" value="${value}" id="{%= $data.id = uniqid('image_')%}" data-cdzbrowser="1" onchange="cdzmenu.attachIconToItemHeading(this,this.value,1)" placeholder="<?php echo $this->__('Get image from library or enter other URL') ?>" />
				<button class="content-btn content-col-image" onclick="CdzMediabrowserUtility.openDialog('<?php echo $this->getUrl('adminhtml/cms_wysiwyg_images') ?>target_element_id/${id}')">{%if button_text%}${button_text}{%else%}<?php echo $this->__('Library') ?>{%/if%}</button>
				<div class="preview-${type}-outer">
					<div class="preview-${type}-inner">
						<a class="preview-${type}" onclick="cdzmenu.viewfull(this)" data-href="<?php echo $this->getImageUrl('menu/placeholder.jpg') ?>" href="javascript:void(0)" onclick=""><img src="<?php echo $this->getImageUrl('menu/placeholder.jpg') ?>" /></a>
						<button class="content-btn content-col-image-delete" onclick="cdzmenu.removeImage(this)"><i class="fa fa-remove"></i></button>
					</div>
				</div>
				<p class="content-note"><?php echo $this->__('Allow file types: jpg, jpeg, png, gif') ?></p>
				{%if description%}<p class="content-note">${description}</p>{%/if%}
			{%elif type.equalsTo('icon') %}
				<input type="hidden" data-type="${type}" data-name="${name}" type="${type}" class="menu-field field-${name}" value="${value}" id="{%= $data.id = uniqid('icon_')%}" onchange="cdzmenu.attachIconToItemHeading(this,this.value,0)" />
				<button class="content-btn content-col-${type}" onclick="Icons.openIconChooser('${id}','menu-item-icons-tmpl','<?php echo __('Insert Icons...') ?>',iconLibrabry)"><?php echo $this->__('Icon Font Library') ?></button>
				<div class="preview-${type}-outer">
					<div class="preview-${type}-inner">
						<button class="content-btn content-col-${type}-delete" onclick="cdzmenu.removeIcon(this)"><i class="fa fa-remove"></i></button>
						<span class="icon preview-${type}" id="preview-${id}"><i></i></span>
					</div>
				</div>
				{%if description%}<p>${description}</p>{%/if%}
			{%elif type.equalsTo('category') %}
				<input class="menu-field field-${name}" data-type="${type}" data-name="${name}" id="{%= $data.id = uniqid('category_')%}" type="text" value="${value}" />
				<button class="content-btn content-col-${type}" onclick="${id}.choose()"><?php echo $this->__('Select') ?></button>
				{%if description%}<p>${description}</p>{%/if%}
			{%elif type.equalsTo('label')%}
				<div class="label-html">{%tmpl value %}</div>
			{%/if%}
			</div>
		{%/if%}
	</div>
</script>
<script id='menu-item-content-type-editor-tmpl' type='text/x-jquery-tmpl'>
	{%for(i=1;i<=loop;i++)%}
	<div class="content-col active" style="width: 100%;">
		<div class="content-col-inner">
			<div class="content-heading">
				<div class="content-actions">
					<button class="content-btn content-col-wysiwyg df-btn" onclick="menuWysiwygEditor.open('<?php echo $this->getUrl('adminhtml/megamenupro_index/wysiwyg') ?>', '{%= $data.id = uniqid('editor_')%}')" title="<?php echo $this->__('Wysiwyg Editor') ?>"><i class="fa fa-pencil"></i></button>
					<button class="content-btn content-col-widget df-btn" onclick="widgetTools.openDialog('<?php echo $this->getUrl('adminhtml/widget') ?>widget_target_id/${id}')" title="<?php echo $this->__('Widget') ?>" ><?php echo $this->__('Widget') ?></button>
					<button class="content-btn content-col-template df-btn" onclick="Icons.openIconChooser('${id}','menu-col-tmpl-tmpl','<?php echo 'Choose template...' ?>')" title="<?php echo $this->__('Column Template') ?>"><i class="fa fa-clipboard"></i></button>
					<!--button class="content-btn content-col-delete df-btn" onclick="return cdzmenu.deleteColumn(this);" title="<?php echo $this->__('Remove Column') ?>"><i class="fa fa-trash"></i></button-->
				</div>
			</div>
			<div class="content-body">
				<textarea placeholder="<?php echo $this->__('&lt;p&gt;Insert HTML structure&lt;/p&gt;')?>" id="${id}" data-type="${type}" data-name="${name}" class="menu-field field-${name}">${value}</textarea>
			</div>
		</div>
	</div>
	{%/for%}
</script>
<script type="text/javascript">
cdzInstantiateChooser = function(id){
	var instantiateChooser = function() {
		window[id] = new WysiwygWidget.chooser(
			id,
			'<?php echo $this->getUrl('adminhtml/catalog_category_widget/chooser') ?>'+'uniq_id/'+id,
			{"buttons":{"open":"<?php echo $this->__('Select Category...') ?>","close":"<?php echo $this->__('Close') ?>"}}
		);
		if ($(id)) {
			window[id].getElement = function() {
				return $(this.chooserId);
			};
			window[id].getElementLabel = function() {
				var label = {innerHtml:''};
				return label;
			};
			window[id].setElementValue = function(value) {
				this.getElement().value = value.replace('category/','');
			};
			window[id].getElementValue = function(value) {
				 return 'category/'+this.getElement().value;
			};
			$(id).advaiceContainer = id;
		}
	}
	if (document.loaded) {
		instantiateChooser();
	} else {
		document.observe("dom:loaded", instantiateChooser);
	}
}
</script>


<script type="text/javascript">
(function($){
	$(document).ready(function(){
		var menuItems = [];
		if($('input#content').length){
			if($('input#content').val()){
				menuItems = JSON.parse($('input#content').val());
			}
		}
		var menuItemTypes = <?php echo $this->getItemTypesJson() ?>;
		var $menu = $('#menu-to-edit');
		$menu.menuLayout({
			menuItemTypes: menuItemTypes,
			menuItems: menuItems,
			previewUrl: '<?php echo Mage::getUrl('front_megamenupro/index/preview'); ?>',
			previewBtn: '#preview-btn',
			previewForm: '#edit_form',
			alert: alert,
			mediaUrl: '<?php echo Mage::getBaseUrl(Mage_Core_Model_Store::URL_TYPE_MEDIA); ?>',
			imagePlaceholder: '<?php echo $this->getImageUrl('menu/placeholder.jpg') ?>',
			spinner: '#menu-spinner',
			contentField: '#content'
		});
	});
	$(window).load(function(){
		$('#edit_form').on('beforeSubmit',function(event,form,url){
			if(typeof url !== 'undefined'){
				form.action = url;
			}
			var e = null;
			try {
				form.submit();
			} catch (e) {
				console.log(e);
			}
		});
	});
	function submitForm(){
		window.editForm.submit = function(url){
			if (this.validator.validate()) {
				var form = this.validator.form;
				$('#edit_form').trigger('beforeSubmit',[form,url]);
			}
		}.bind(window.editForm);
	}
	submitForm();
	
	widgetTools.oldCloseDialog = widgetTools.closeDialog;
	widgetTools.closeDialog = function(){
		widgetTools.oldCloseDialog();
		submitForm();
	}
})(jQuery);
</script>


<div class="menu-container">
	<div class="menu-settings-box" id="menu-settings-box" style="display:none;">
		<div class="menu-settings-toggle noselect">
		</div>
		<div class="menu-settings-content"></div>
	</div>
</div>
<script>
(function($){
$(document).ready(function(){
	var $menuForm = $('#edit_form');
	$menuForm.wrap('<div class="top-container" id="menu-form-outer" ></div>');
	$menuForm.wrap('<div class="menu-form-inner" id="menu-form-inner" ></div>');
	
	var $settingsBox = $('#menu-settings-box'), $boxContent = $('.menu-settings-content',$settingsBox),
	$formTop = $('#menu-form-outer'), $form = $('#menu-form-inner'),
	$boxToggle = $('.menu-settings-toggle',$settingsBox),
	formTopHeight = $formTop.outerHeight(true);
	$formTop.css('min-height',formTopHeight);
	
	var $itemTypes = $('#type-items'),
	$menu = $('#menu-to-edit'),
	needScroll = false, $win = $(window), marginTop, y, yMin, yMax,
	$menuBottom = $('.menu-bottom').first(),
	$colLeft = $itemTypes.parents('.col-left').first(),
	$colMain = $menu.parents('.col-main').first(), $pageActions = $('.content-header-floating').first();
	
	$(window).scroll(function(){
		formTopHeight = $formTop.outerHeight(true);
		formTopY = $formTop.offset().top;
		var scrollY = window.scrollY;
		if(scrollY > (formTopY + formTopHeight - 180) ){
			$settingsBox.fadeIn('fast');
			$form.appendTo($boxContent);
		}else{
			$settingsBox.hide();
			$form.appendTo($formTop);
			$settingsBox.removeClass('box-open');
		}
	});

	var colLeftHeight, colMainHeight, scrollTimeout = false;
	var proccessing = false;
	function scrollBar(){
		if(!proccessing){
			proccessing = true;
			y = jQuery(window).scrollTop();
			yMin = $menu.offset().top;
			yMax = yMin + $menu.height();
			colMainHeight = $colMain.outerHeight(true);
			colLeftHeight = $itemTypes.height() + $menuBottom.height() + 20;
			marginTop = Math.min(colMainHeight - colLeftHeight - 10,y - yMin + 200+$pageActions.height());
			marginTop = Math.max(0,marginTop);
			if( (marginTop + colLeftHeight <= colMainHeight) && (marginTop > 0) && $win.prop('innerWidth') >= 768 ){
				$itemTypes.parent().css({
					paddingTop: marginTop,
				});
			}else{
				$itemTypes.parent().css({
					paddingTop: ''
				});
			}
			proccessing = false;
		}
	}
	var ss = false;
	
	$win.on('scroll',function(){
		scrollBar();
	}).resize(function(){
		scrollBar();
	});
	
	
	$boxToggle.on('click',function(){
		$settingsBox.toggleClass('box-open');
	});
	$('body').on('click',function(event){
		if( !$(event.target).parents('.menu-settings-box').length ){
			$settingsBox.removeClass('box-open');
		}
	});
});
})(jQuery);
</script>

